@model List<InicioCarouselViewModel>
@{
    ViewData["Title"] = "Inicio";
}

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @{
            bool primerIndicador = true;
        }
        @foreach (var indicador in Model)
        {
            <li data-target="#carouselIndicators" data-slide-to="@indicador.IdImagen" class="@(primerIndicador ? Html.Raw("active") : Html.Raw(""))"></li>
            primerIndicador = false;
        }
    </ol>
    <div class="carousel-inner">
        @{
            bool primerImagen = true;
        }
        @foreach (var imagen in Model)
        {
            <div class="carousel-item @(primerImagen ? Html.Raw("active") : Html.Raw(""))">
            <img class="d-block w-100" src="data:image/jpg;base64,@Convert.ToBase64String(imagen.Imagen)" alt="Diapositiva @imagen.IdImagen">
        </div>
        primerImagen = false;
        }
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
