@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="text-danger">@ViewData["Title"]</h1>

        <p class="text-danger">No se pudo redireccionar a la página de ver mi información correcta</p>
    </div>
</div>
