@model Asignatura
@{
    ViewData["Title"] = "Agregar Asignatura";
}

<h1 class="mb-3">@ViewData["Title"]</h1>


<form method="POST" asp-action="Agregar">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Agregar" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Inicio" class="btn btn-primary">Volver atrás</a>
</div>


@section Scripts {
@{
    <partial name="_ValidationScriptsPartial" />
}
}