@model Asignatura
@{
    ViewData["Title"] = "Agregar Asignatura";
}

<h1>@ViewData["Title"]</h1>

<form method="POST" asp-action="Agregar">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Agregar" />
</form>
<a asp-action="Inicio" class="btn btn-primary">Volver atrás</a>

@section Scripts {
@{
    <partial name="_ValidationScriptsPartial" />
}
}