@model Asignatura
@{
    ViewData["Title"] = "Editar Asignatura";
}

<h1>@ViewData["Title"]</h1>

<form method="POST" asp-action="Editar">
    <input asp-for="IdAsignatura" hidden />
    <div class="form-group"></div>
    <label asp-for="Nombre"></label>
    <input asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre"></span>
    </div>
    <button type="submit" class="btn btn-warning" value="Editar"></button>
    <a asp-action="Inicio" class="btn btn-primary">Volver atrás</a>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}