@model List<InicioCarouselViewModel>
@{
    ViewData["Title"] = "Carousel";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary mb-3" asp-action="Agregar">Agregar</a>

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th># de imagen</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var imagen in Model)
    {
        <tr>
            <td>@(imagen.IdImagen + 1)</td>
            <td><img src="data:image/jpg;base64,@Convert.ToBase64String(imagen.Imagen)" class="img-thumbnail h-25 w-25" /></td>
            <td>
                <a asp-action="Editar" asp-route-id="@(imagen.IdImagen + 1)">Editar</a><br>
                <a asp-action="Eliminar" asp-route-id="@(imagen.IdImagen + 1)">Eliminar</a>
            </td>
        </tr>
    }
            </tbody>
        </table>