@model Padres

@{
    ViewData["Title"] = "Agregar Padres";
}

<h1>Agregar Padres</h1>
<hr />


<form asp-action="AgregarPadres">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <p class="h2">Madre</p>
            <hr />
            <div class="mb-3">
                <label asp-for="NombresMadre" class="form-label"></label>
                <input asp-for="NombresMadre" class="form-control" />
                <span asp-validation-for="NombresMadre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PrimerApellidoMadre" class="form-label"></label>
                <input asp-for="PrimerApellidoMadre" class="form-control" />
                <span asp-validation-for="PrimerApellidoMadre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SegundoApellidoMadre" class="form-label"></label>
                <input asp-for="SegundoApellidoMadre" class="form-control" />
                <span asp-validation-for="SegundoApellidoMadre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TelefonoMadre" class="form-label"></label>
                <input asp-for="TelefonoMadre" class="form-control" />
                <span asp-validation-for="TelefonoMadre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <p class="h2">Padre</p>
            <hr />
            <div class="mb-3">
                <label asp-for="NombresPadre" class="form-label"></label>
                <input asp-for="NombresPadre" class="form-control" />
                <span asp-validation-for="NombresPadre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PrimerApellidoPadre" class="form-label"></label>
                <input asp-for="PrimerApellidoPadre" class="form-control" />
                <span asp-validation-for="PrimerApellidoPadre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SegundoApellidoPadre" class="form-label"></label>
                <input asp-for="SegundoApellidoPadre" class="form-control" />
                <span asp-validation-for="SegundoApellidoPadre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TelefonoPadre" class="form-label"></label>
                <input asp-for="TelefonoPadre" class="form-control" />
                <span asp-validation-for="TelefonoPadre" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" value="Crear Padres" asp-route-id="@ViewBag.id" asp-route-referencia="@ViewBag.referencia" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="BuscarPadres" class="btn btn-primary" asp-route-id="@ViewBag.id">Volver Atr&aacute;s</a>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/jquery.mask.js"></script>
    <script>
    $('#TelefonoMadre').mask('000-000-0000');
    $('#TelefonoPadre').mask('000-000-0000');
    </script>
}
