@{ ViewData["Title"] = "Editar"; }

<div class="row">
    <div class="col-md-6">
        <h1 class="text-danger">Error</h1>

        <p class="text-danger">No se pudo redireccionar a la página de editar correcta</p>
        </div>
</div>