@model Padres

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Padres</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrimerApellidoMadre" class="control-label"></label>
                <input asp-for="PrimerApellidoMadre" class="form-control" />
                <span asp-validation-for="PrimerApellidoMadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellidoMadre" class="control-label"></label>
                <input asp-for="SegundoApellidoMadre" class="form-control" />
                <span asp-validation-for="SegundoApellidoMadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombresMadre" class="control-label"></label>
                <input asp-for="NombresMadre" class="form-control" />
                <span asp-validation-for="NombresMadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoMadre" class="control-label"></label>
                <input asp-for="TelefonoMadre" class="form-control" />
                <span asp-validation-for="TelefonoMadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellidoPadre" class="control-label"></label>
                <input asp-for="PrimerApellidoPadre" class="form-control" />
                <span asp-validation-for="PrimerApellidoPadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellidoPadre" class="control-label"></label>
                <input asp-for="SegundoApellidoPadre" class="form-control" />
                <span asp-validation-for="SegundoApellidoPadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombresPadre" class="control-label"></label>
                <input asp-for="NombresPadre" class="form-control" />
                <span asp-validation-for="NombresPadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoPadre" class="control-label"></label>
                <input asp-for="TelefonoPadre" class="form-control" />
                <span asp-validation-for="TelefonoPadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Inicio">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
