@model DetalleCursoPeriodo
@{
    ViewData["Title"] = "Eliminar Periodo/Curso/Asignaturas";
}

<h1>@ViewData["Title"]</h1>

<span class="text-danger">¿Desea eliminar el siguiente Periodo/Curso/Asignaturas?</span>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                Periodo/Subperiodo
            </dt>
            <dd class="col-sm-8">
                @(Model.Periodo.Nombre + " / " + Model.Periodo.Subperiodo)
            </dd>
            <dt class="col-sm-4">
                Curso/Secci&oacute;n
            </dt>
            <dd class="col-sm-8">
                @(Model.Curso.Nombre + " / " + Model.Curso.Seccion)
            </dd>
        </dl>
        <p class="text-danger">Todas las asignaturas con sus calificaciones de esta combinación Periodo/Curso serán eliminadas</p>
        <form asp-action="Eliminar" class="form-group">
            <input type="hidden" asp-for="IdDetalleCursoPeriodo" />
            <input type="submit" value="Eliminar" class="btn btn-danger" asp-route-id="@Model.IdDetalleCursoPeriodo" />
        </form>
    </div>
    </div>

<div>
    <a class="btn btn-primary" asp-action="Inicio">Volver a la lista</a>
</div>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }
