@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar";
}

<h1>Iniciar Sesi&oacute;n</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Input.Usuario"></label>
                    <input asp-for="Input.Usuario" class="form-control" />
                    <span asp-validation-for="Input.Usuario" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Input.Clave"></label>
                    <input asp-for="Input.Clave" class="form-control" />
                    <span asp-validation-for="Input.Clave" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <div class="checkbox">
                        <label class="form-label" asp-for="Input.Recordarme">
                            <input asp-for="Input.Recordarme" />
                            @Html.DisplayNameFor(m => m.Input.Recordarme)
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="submit" class="btn btn-primary" value="Iniciar" />
                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}