@model Escuela.Models.Noticia

@{
    ViewData["Title"] = "Agregar Noticia";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Agregar" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="Categoría">Categor&iacute;a</label>
        <select asp-for="IdCategoriaNoticia" asp-items="@ViewBag.categorias" class="form-control"></select>
        <span asp-validation-for="IdCategoriaNoticia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <label asp-for="Cuerpo"></label>
        <textarea asp-for="Cuerpo" class="form-control"></textarea>
        <span asp-validation-for="Cuerpo" class="text-danger"></span>
    </div>
    </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Agregar">
    </div>
</form>

<div>
    <a class="btn btn-primary" asp-action="Inicio">Volver a la lista</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}