<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escuela</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("css", required: false)
</head>
<body>
    <header>
        <a class="sr-only sr-only-focusable" href="#contenido">Ir al contenido principal</a>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Inicio" asp-action="Inicio">Escuela</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inicio" asp-action="Inicio">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="Usuario" asp-action="Inicio">Usuarios</a>
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="Padres" asp-action="Inicio">Padres</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Periodos/Cursos/Asignaturas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="Periodo" asp-action="Inicio">Periodos</a>
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="Curso" asp-action="Inicio">Cursos</a>
                                
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="Asignatura" asp-action="Inicio">Asignaturas</a>
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="CursoPeriodoAsignatura" asp-action="Inicio">Periodos/Cursos/Asignaturas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Editar Inicio
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="Carousel" asp-action="Inicio">Carousel</a>
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="Noticias" asp-action="Inicio">Noticias</a>
                                <a class="dropdown-item" asp-area="Administracion" asp-controller="CategoriaNoticia" asp-action="Inicio">Categor&iacute;as Noticias</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Profesor" asp-controller="Calificacion" asp-action="Inicio">Calificaciones</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" id="contenido" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Escuela
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
