@model Escuela.Models.Curso

@{
    ViewData["Title"] = "Editar Curso";
}

<h1>@ViewData["Title"]</h1>


<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="IdCurso" />
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Seccion" class="control-label"></label>
                <input asp-for="Seccion" class="form-control" />
                <span asp-validation-for="Seccion" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Editar" class="btn btn-warning" />
    </div>
</form>
    

<div>
    <a class="btn btn-primary" asp-action="Inicio">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
