@model Curso
@{
    ViewData["Title"] = "Eliminar Curso";
}

<h1>@ViewData["Title"]</h1>

<span class="text-warning">¿Desea eliminar el siguiente curso?</span>

<form method="POST" asp-action="Eliminar">
    <input asp-for="IdCurso" hidden />

    <div class="form-group"
    <label asp-for="Nombre"></label>
    <input asp-for="Nombre" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Seccion"></label>
        <input asp-for="Seccion" disabled />
    </div>
    <input type="submit" class="btn btn-danger" asp-route-id="@Model.IdCurso" value="Eliminar" />
    <a asp-action="Inicio" class="btn btn-primary">Volver atrás</a>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}